<%- include('partials/header')%>

    <div class="container">
        <form action="">
            <input type="text" value="<%= book.title %>">
        </form>
    </div>


    <%- include('partials/footer') %>