<%- include('partials/header') %>

  <div class="box">
    <h1>Library Management</h1>

    <a href="/login" class="btn btn-primary btn-block btn-large">Login</a>
    <a href="/register" class="btn btn-secondary btn-block btn-large">Register</a>

  </div>

  <%- include('partials/footer') %>